/* ==========================================================================
   #STYLES
   ========================================================================== */


/**
 *
 * [1]: Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 * [2]: WordPress System font-stack
 */


/* RESET
   ========================================================================== */


html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 350;
  font-size: 14px;
  color: black;
  text-shadow: 0 2px 0 rgba(179, 18, 18, 0.07)07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* FONTS
   ========================================================================== */

body {
  letter-spacing: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

/* Header
   ========================================================================== */

.header {
  /* Centre horizontal */
  width: 100%;
  text-align: center;
  /* Centre vertical */
  height: 80px;
  line-height: 80px;
  white-space: nowrap;
  /* Colours */
  background-color: #FF5733;
  color: #FFFFFF;
  /* styling */
  font-size: 18px;
  margin-bottom: 30px;
}

/* Containers
   ========================================================================== */

.tweeters {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 15px 0 15px 0;
}

.button-container {
  /* Position the button in the grid */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50px;
  /* Centre vertical */
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
  /* styling */
  margin: 15px 0 15px 0;
}

.person {
  text-align: center;
  border: 3px solid rgba(243, 109, 6, 0.6);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color:rgba(255, 255, 255, 0.6); 
}

.person a{
  color: rgb(0, 166, 255);
  text-decoration: none;
}

/* Buttons */

.button {
  text-decoration: none;
  /* Style Font */
  text-align: center;
  font-size: 18px;
  color: rgb(255, 255, 255);
  /* Style "button" */
  background-color: rgba(0, 166, 255);
  border-radius: 5px;
  border: 2px solid rgb(0, 166, 255, 0.6);
  /* Position the button */
  grid-column: 2 / 5;
}

/* anchors to look like buttons */
a.button {
  /* Style Font */
  text-align: center;
  font-size: 18px;
  color: rgb(255, 255, 255);
  /* Style "button" */
  background-color: rgba(0, 166, 255);
  border-radius: 5px;
  border: 2px solid rgb(0, 166, 255, 0.6);
  /* Position the button */
  grid-column: 2 / 5;
}

/* Formss */
input {
  padding:10px;
  margin:10px 0;
  font-family:inherit;
  font-size: inherit;
}

label {
  width: 20%;
  display: inline-block;
  text-align: left;
}


.text-input {
  border: 2px solid #eee;
  border-radius:10px;
}