mixin tweetForm()
  form(action="/tweet/add" method="POST" class="tweet")
    
    .rightalign

      textarea.tweetinput(name='text' maxlength="300" placeholder='What\'s happening?')

      input(type="submit" value="Tweet" class="button")

