extends default

block pageframe
  
  <!-- Threee Column Twitter Clone-->
  .container 

    <!-- Menu Column--> 
    block menu

    <!-- Tweets Column--> 
    block content

    <!-- Search + Ads Column-->     
    .col
    
    <!-- Placeholder / Footer Columns-->
    .col

    .col
    
    .col






    







