extends default

block pageframe
  
  <!-- Threee Column Twitter Clone-->
  .container 
    .pageframe
      <!-- Menu Column--> 
      block menu
        .col

      <!-- Tweets Column--> 
      block content
        .col

      <!-- Search + Ads Column-->     
      block ads
        .col
      
